/* Mask */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 569;
  display: none;
}
.mask .maskBox {
  min-width: 80%;
  max-width: 86%;
  margin: 0 auto;
  border-radius: 0.26666667rem;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.mask .maskBox .head {
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 0.77333333rem;
  width: 100%;
  padding: 0 0.4rem;
  border-bottom: 1px solid rgba(144, 144, 144, 0.2);
  text-align: center;
  font-weight: bold;
}
.mask .maskBox .main {
  padding: 1.33333333rem 0.8rem;
  font-size: 0.77333333rem;
}
.mask .maskBox .btns {
  text-align: center;
}
.mask .maskBox .btns .btn {
  font-size: 0.77333333rem;
  height: 2.66666667rem;
  line-height: 2.66666667rem;
  width: 100%;
  float: left;
}
.mask .maskBox .btns .btn-cancel {
  display: none;
}
.mask .maskBox .btns .btn.btn-sure {
  background-color: #e60045;
  color: #fff;
}
.mask .maskBox .btns.sh-cancel .btn {
  width: 50%;
}
.mask .maskBox .btns.sh-cancel .btn-cancel {
  display: block;
}
.mask .imgbig {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 20rem;
  height: 20.53333333rem;
  margin: 0 auto;
  border: 1px solid #f7f7f7;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #efefef;
}
